*{
    padding: 0;
    margin:0;
}
.nav-bar{
    display:flex;
    z-index: 999;
    position: sticky;
    top: 0;
    left:0;
    align-items: center;
    justify-content: space-between;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
}
.my-icon {
    width:50px;
    height:50px;
    padding:20px 0 5px 50px;
}
.nav-bar-ele > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-list li {
    list-style: none;
    padding:0 20px;
    position:relative;
}
.navbar-list li a {
    text-decoration: none;
    font-weight: 600;
    font-size:16px;
    color:#1a1a1a;
    transition:0.5s ease;
}
.navbar-list li a:hover,
.navbar-list li a.active {
   color:darkcyan;
}
.navbar-list li a.active::after,
.navbar-list li a:hover::after{
    content:"";
    width:30%;
    height:2px;
    background-color: #088178;
    position:absolute;
    bottom:-4px;
    left:20px;
}
.home-page{
    background-image: url(images/bgtest2.jpeg);
    height:100vh;
    width:100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top 25% right 0%;
    display:flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.home-page p,
.home-page h1,
.home-page h2,
.home-page button{
    color:white;
}
.intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin:9% auto;
    justify-content: flex-end;
    padding-top:200px;
}
.intro h1 {
    color:goldenrod;
    font-size: 50px;
    font-weight: 600;

}
.intro p {
    align-items: fle;
    font-size: 20px;
    font-weight: 400;

}
.intro h2 {
    font-size: 55px;
    font-weight: 500;
    padding-bottom:20px
}
.intro button {
    padding:5px;
    color:black;
    font-size: 20px;
}
.name {
    display: flex;
    flex-direction: row;
    
}
